on:
  pull_request:
  push:
    branches:
      - main

name: Linting

jobs:
  bench:
    name: Benchmarking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: bench
          args:  -- -Z unstable-options --format json
